@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;600&display=swap");

@font-face {
  font-family: myFont;
  src: url("neue-kaine-variable.ttf");
}

@font-face {
  font-family: myFont2;
  src: url("NIMBUS-BF659e4cf9567cd.ttf");
}

/* General styles */

* {
  margin: 0px 0px;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  /* font-family: 'Roboto', sans-serif; */
}

body,
html {
  height: 100%;
  background-color: #f0eec0;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #1a2330; /* Change the color and thickness as needed */
  box-sizing: border-box;
  z-index: 10000; /* Adjust the z-index to make sure it's above other elements */
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 1px; /* Adjust width as needed */
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Header - common styles */

#header {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #f0eec0;
  z-index: 1000;
}

@keyframes animate_logo {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

.scrolling-logo {
  width: 100%;
  overflow: hidden;
  display: flex;
  white-space: nowrap;
}

.scrolling-logo > a {
  text-decoration: none;
  color: #1a2330;
  animation: animate_logo 40s linear infinite;
}

.scrolling-text > span {
  margin: 0 180px;
}

#header-logo {
  height: 80px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-icon {
  color: #1a2330;
  background-color: #7f8af1;
  padding: 10px 14px;
  border-radius: 50%;
  border: 2px solid #1a2330;
}

/* Header - mobile styles */
@media screen and (min-width: 320px) and (max-width: 575px) {
  .scrolling-logo > a {
    font-size: 50px;
  }

  .main-logo {
    font-weight: 900;
    font-size: 2rem;
    font-family: myFont;
  }
}

/* Header - tablet styles */
@media screen and (min-width: 576px) and (max-width: 768px) {
  .scrolling-logo > a {
    font-size: 50px;
  }

  .main-logo {
    font-weight: 900;
    font-size: 2rem;
    font-family: myFont;
  }
}

/* Header - Desktop styles */
@media screen and (min-width: 769px) {
  .scrolling-logo > a {
    font-size: 100px;
  }
  .scrolling-text > span {
    margin: 0 180px;
  }

  .main-logo {
    font-weight: 900;
    font-size: 2rem;
    font-family: myFont;
  }
}

/* Navbar - common styles */

.navbar-menu {
  display: flex;
  height: 40px;
  background-color: #f0eec0;
  border-bottom: 2px solid #1a2330;
  justify-content: space-between;
  padding: 0px 10px;
  align-items: center;
  z-index: 1000;
}

.likes {
  margin-right: 10px;
}

.likes,
.shopping-cart {
  color: #1a2330;
  display: inline;
  right: 0%;
}

/* Navbar - Mobile styles */
@media screen and (min-width: 320px) and (max-width: 575px) {
  #navbar-desktop {
    display: none;
  }

  .navbar-mobile-sidebar {
    position: fixed;
    top: 0;
    left: -100%; /* Initially off-screen to the left */
    width: 100%;
    height: 100%;
    background-color: #1a2330;
    transition: left 0.5s ease; /* Smooth transition effect */
    display: flex;
    flex-direction: column; /* Display links as a column */
    align-items: center; /* Center links horizontally */
    justify-content: center; /* Center links vertically */
    z-index: 10000;
  }

  .sidebar-logo {
    display: block;
  }

  .navbar-mobile-sidebar.active {
    left: 0; /* Slide in when active class is present */
  }

  .nav-toggle {
    color: #1a2330;
  }

  .nav-hide {
    color: #f0eec0;
  }

  .nav-hide {
    margin: 50px 0 50px 300px;
  }

  .navbar-mobile-sidebar nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; /* Ensure the links take up the full width */
  }

  .navbar-mobile-sidebar nav a {
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    margin: 10px 0; /* Add margin between links for spacing */
    text-align: center; /* Center text within each link */
    color: #f0eec0;
    text-decoration: none;
    transition: padding 0.5s ease;
  }

  .navbar-mobile-sidebar nav a:hover:not(.active) {
    padding: 10px 100px;
    color: #f0eec0;
    border: 2px solid #f0eec0;
    background-color: #1a2330;
    text-decoration: none;
  }

  .sidebar-logo {
    color: #fff;
    font-size: 2rem;
    margin-top: 300px;
    font-family: myFont;
    font-weight: 800;
  }
}

/* Navbar - Tablet styles */

@media screen and (min-width: 576px) and (max-width: 768px) {
  #navbar-desktop {
    display: none;
  }

  .navbar-mobile-sidebar {
    position: fixed;
    top: 0;
    left: -100%; /* Initially off-screen to the left */
    width: 100%;
    height: 100%;
    background-color: #1a2330;
    transition: left 0.5s ease; /* Smooth transition effect */
    display: flex;
    flex-direction: column; /* Display links as a column */
    align-items: center; /* Center links horizontally */
    justify-content: center; /* Center links vertically */
  }

  .sidebar-logo {
    display: block;
    font-family: myFont;
    font-weight: 900;
  }

  .navbar-mobile-sidebar.active {
    left: 0; /* Slide in when active class is present */
  }

  .nav-toggle {
    color: #1a2330;
  }

  .nav-hide {
    color: #f0eec0;
  }

  .nav-hide {
    margin: 50px 0 50px 300px;
  }

  .navbar-mobile-sidebar nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; /* Ensure the links take up the full width */
  }

  .navbar-mobile-sidebar nav a {
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    margin: 10px 0; /* Add margin between links for spacing */
    text-align: center; /* Center text within each link */
    color: #f0eec0;
    text-decoration: none;
    transition: padding 0.5s ease;
  }

  .navbar-mobile-sidebar nav a:hover:not(.active) {
    padding: 10px 100px;
    color: #f0eec0;
    border: 2px solid #f0eec0;
    background-color: #1a2330;
    text-decoration: none;
  }

  .sidebar-logo {
    color: #fff;
    font-size: 2rem;
    margin-top: 400px;
    font-family: myFont;
    font-weight: 900;
  }
}

/* Navbar - Desktop styles */
@media screen and (min-width: 769px) {
  .scrolling-logo > a {
    font-size: 100px;
  }
  .scrolling-text > span {
    margin: 0 180px;
  }

  .nav-toggle {
    display: none;
  }

  .navbar-mobile {
    display: none;
  }
}

/* Carousel and hero section - Mobile styles */

@media screen and (min-width: 320px) and (max-width: 575px) {
  .carousel-container {
    overflow: auto;
    display: flex;
    gap: 20px;
    scroll-snap-type: x mandatory;
  }

  .carousel-container > .carousel-item {
    margin-top: 140px;
    margin-left: 20px;
    flex-shrink: 0;
    scroll-snap-align: center;
  }

  .carousel-container > .carousel-item:nth-child(3) {
    margin-right: 20px;
  }

  .carousel-item {
    height: 350px;
    width: 350px;
    border: 2px solid #1a2330;
  }

  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hero-section-title {
    justify-content: center;
    margin-top: 20px;
    border-bottom: 2px solid #1a2330;
  }

  .hero-section-title > span {
    font-family: myFont2;
    font-size: 3rem;
    margin-left: 20px;
    justify-content: center;
  }

  .arrow-carousel {
    background-color: #f0eec0;
    width: 100px;
    height: 100px;
    border: 2px solid #1a2330;
    font-size: 7rem;
    font-family: myFont;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: absolute;
    left: 280px; /* Adjust the margin as needed */
    top: 150px; /* Adjust the margin as needed */
    z-index: 1;
  }

  #shopNowButton {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    outline: none;
    font-size: 1.5rem;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 33px;
    border: 2px solid #1a2330;
    color: #1a2330;
    background-color: #f47a45;
    text-align: center;
    padding: 10px 100px;
    transition: box-shadow, background-color 0.3s ease;
  }

  #shopNowButton:active {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    outline: none;
    font-size: 1.5rem;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #1a2330;
    margin: 20px 33px;
    background-color: #f0eec0;
    box-shadow: 6px 6px 0 0 rgba(26, 35, 48, 1);
    text-align: center;
    padding: 10px 100px;
  }
}

/* New arrivals - Mobile Styles */
@media screen and (min-width: 320px) and (max-width: 575px) {
  .new-arrivals-title {
    margin: 20px 0px 20px 20px;
    border-bottom: none;
  }

  .new-arrivals-title span {
    font-family: myFont;
    font-weight: 800;
    font-size: 1.5rem;
    text-align: left;
    margin-top: 20px;
  }




  .new-arrivals {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 60px;
    overflow: auto;
    display: flex;
    gap: 50px;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    opacity: 0;
    transform: translateX(0%);
    transition: opacity 0.5s, transform 0.5s;
  }

  /* .animate-in {
    animation: new_arrivals_in 1s linear;
  }

  .animate-out {
    animation: new_arrivals_out 1s linear;
  } */

  .visible1 {
    opacity: 1;
    transform: translateX(0%);
  }

  .item-image {
    border: 2px solid #1a2330;
    width: 160px;
    height: 160px;
    background-color: #ffffec;
  }

  .item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  .heart-card {
    color: #1a2330;
  }

  .heart-card:active {
    color: #dd0000;
  }

  #add-to-cart-btn {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    outline: none;
    font-size: 0.8;
    font-weight: 300;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    border: 2px solid #1a2330;
    color: #1a2330;
    background-color: #f47a45;
    text-align: center;
    transition: box-shadow, background-color 0.3s ease;
  }

  #add-to-cart-btn:active {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    outline: none;
    font-size: 0.8;
    font-weight: 300;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    border: 2px solid #1a2330;
    background-color: #f0eec0;
    box-shadow: 3px 3px 0 0 rgba(26, 35, 48, 1);
    text-align: center;
  }

  .needs-title {
    width: 100vw;
    text-align: center;
    margin-bottom: 30px;
  }

  .catalogue-container {
    display: block;
    margin: 5px auto 60px auto;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s, transform 0.5s; 
  }


  .needs-span span:nth-child(1) {
    margin: 5px 110px;
    display: block;
    font-family: myFont2;
    font-size: 3rem;
  }

  .needs-span span:nth-child(2) {
    margin: 5px 35px;
    display: block;
    font-family: myFont2;
    font-size: 3rem;
  }

  .visible2 {
    opacity: 1;
    transform: translateX(0%);
  } 

  #catalogue-button {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    outline: none;
    font-size: 1.5rem;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 33px;
    border: 2px solid #1a2330;
    color: #1a2330;
    background-color: #f47a45;
    text-align: center;
    padding: 10px 100px;
    transition: box-shadow, background-color 0.3s ease;
  }

  #catalogue-button:active {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    outline: none;
    font-size: 1.5rem;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #1a2330;
    margin: 20px 33px;
    background-color: #f0eec0;
    box-shadow: 6px 6px 0 0 rgba(26, 35, 48, 1);
    text-align: center;
    padding: 10px 100px;
  }


  .catalogue-image {
    width: 300px; /* Same as .catalogue-image width */
    height: 200px; /* Same as .catalogue-image height */
    border: 2px solid #1a2330;
    padding: 10px 14px 14px 10px; /* Padding around .catalogue-image */
    margin: 0 auto;
    box-sizing: border-box; /* Include padding in the width/height */
  }
  
  .catalogue-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid #1a2330;
    display: block;
  }

  .wavy-image {
    width: 100%; /* Same as .catalogue-image width */
    height: 15vh; /* Same as .catalogue-image height */
    border: 2px solid #1a2330;
    padding: 10px 14px 14px 10px; /* Padding around .catalogue-image */
    margin: 0 auto;
    box-sizing: border-box; /* Include padding in the width/height */
  }
  
  .wavy-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid #1a2330;
    display: block;
  }

  
}


